body{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: burlywood;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Yeon Sung', cursive;
    background-image: url(../img/sevilla.jpg) ;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-decoration: none;
}

.logo{
    width: 150px;
    height: 50px;
    
}
.dci{
    width: 150px;
    height: 50px;
    float: right;

}
.brief{
    background-color: rgba(100, 101, 101, 0.5);
    padding: 50px;
    border-radius: 10%;
    text-shadow: 3px 3px 3px black;
    border: solid 2px chocolate;
    
}